@import "tailwindcss";

/* Global Font Styles */
* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
}

/* Heading Styles - Poppins Medium */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500; /* Medium */
}

/* Paragraph Styles - Poppins Regular */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
}

/* Button Styles */
button {
  font-family: "Poppins", sans-serif;
}

/* Input Styles */
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
